@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.18;
  background-color: #F2F2F2;
  color: #000000;
  width: 1200px;
  min-height: 100%;
  margin: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  /* position: relative; */
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.style_list {
  list-style-type: none;
}

.navigation {
  display: flex;
  width: 1060px;
}

.page_header {
  margin: 0 auto;
  /*
  position: absolute;
  z-index: 2;
  right: 70px; */
}

.navigation_logo {
  display: block;
  margin-right: 30px;
  margin-bottom: -6px;
}

.navigation_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.navigation_style1 {
  max-width: 500px;
}

.navigation_style2 {
  max-width: 300px;
  margin-left: auto;
}

.navigation_link {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
}

.navigation_link_style1 {
  padding: 20px 16px;
}

.navigation_link_style2 {
  display: block;
  padding: 22px 12px;
}

.navigation_item {
  position: relative;
}

.number_of_favorites {
  display: block;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  border-radius: 10px;
  min-width: 20px;
  height: auto;
  background-color: #7DB54F;
  padding: 4px;
  text-align: center;
  position: absolute;
  top: 11px;
  right: 4px;

}

.button_here {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 160px;
  min-height: 36px;
  background-color: #756157;
  margin-top: 14px;
  margin-bottom: 14px;
  box-sizing: border-box;
}

.button_brown:hover {
  background-color: #615048;
}



.hero {
  background-image: url("../images/index_background.jpg");
  width: 1200px;
  min-height: 485px;
  background-color: #756157;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 51px 371px 0;
  box-sizing: border-box;
  margin-bottom: 69px;
  position: relative;
}

.hero_divider::after {
  content: url("../images/divider.svg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 57px;

  position: absolute;
  top: 428px;
  left: 0;
}

.main_index {
  flex-grow: 1;

  /* position: relative; */
  /* margin-top: 64px; */
}

.index_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;


}

.index_title_advantages {
  padding: 0 150px;
  margin-bottom: 25px;
}

.index_title_text {
  font-size: 22px;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

.advantages {
  margin-bottom: 64px;
}

.advantages_list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.advantages_item {
  display: flex;
  background-color: #e6f0f6;
  align-items: center;
  min-height: 385px;
}

.advantages_item:nth-child(2n) {
  background-color: #f0f6fa;
}

.index_title_text_advantages {
  margin-bottom: 69px;
  padding: 0 150px;
}

.advantages_item_extended {
  background-color: #82b3d3;
  color: #ffffff;
}

.advantages_item_wrapper {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  padding: 90px 85px;
}

.advantages_item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 62px;
}

.advantages_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
}

.advantages_item:not(.advantages_item_extended) {
  color: #333333;
}

.index_title_service {
  padding: 0 150px;
  margin-bottom: 20px;
}

.index_title_text_service {
  padding: 0 150px;
  margin-bottom: 64px;
}

.service_item {
  box-sizing: border-box;
  padding: 183px 60px 50px;
  width: 400px;
  min-height: 385px;
  background-repeat: no-repeat;
  background-position: center 81px;
}

.service_title_item {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.service_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
}

.service_home {
  background-image: url("../images/Advantage_icon_home.svg");
}

.service_eat {
  background-image: url("../images/Advantage_icon_eat.svg");
}

.service_present {
  background-image: url("../images/Advantage_icon_present.svg");
}

.service_list {
  display: flex;
  width: 1200px;
  min-height: 385px;
  padding: 0;
  margin: 0;
}

.service_list li:nth-child(odd) {
  background-color: #f0f6fa;
}

.reminder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 250px;
}

.index_title_reminder {
  padding: 0;
  margin-bottom: 20px;
}

.index_title_text_reminder {
  margin-bottom: 54px;
}

.button_reminder {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 375px;
  min-height: 52px;
  background-color: #756157;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}

.subscribe {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 96px 258px;
  width: 1200px;
  min-height: 415px;
  align-items: center;
}

.subscribe_index {
  background-image: url("../images/Subscribe.jpg");
  background-color: #756157;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.index_title_style {
  color: #ffffff;
  margin-bottom: 20px;
}

.index_title_text_style {
  color: #ffffff;
  margin-bottom: 54px;
}

.subscribe_form {
  display: flex;
  width: 684px;
  height: 52px;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px 0 0 4px;
  border-color: #ffffff;
  border: none;
  width: 452px;
  height: 52px;
  padding-left: 20px;
  padding-right: 150px;
  padding-top: 14px;
  padding-bottom: 14px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.button_subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  padding: 8px 16px;
  background-color: #82b3d3;
  box-sizing: border-box;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  min-width: 1060px;
  margin: 0 auto;
  padding: 40px 70px 30px;
}

.footer_social_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  padding: 0;
  margin: 0;
}

.footer_social_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.style_vk {
  padding: 13px 12px;
}

.style_telegram {
  padding: 12px 14px;
}

.style_youtube {
  padding: 12px 12px;
}


.footer_contacts_phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 5px 0;
}

.htmlacademy_link {
  display: block;
  padding: 8px 0;
}

.main_catalog {
  flex-grow: 1;

  position: relative;
  top: 64px;
}

.catalog_img {
  background-image: url("../images/catalog_background.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #756257;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 35px 70px 70px;
  max-width: 1060px;
  min-height: 307px;
}

.catalog_filter {
  padding: 0;
  margin: 0;
  display: flex;
  min-width: 1060px;
  min-height: 160px;
}

.catalog_filter_group {
  border: 0;
  padding: 0;
  margin: 0;
  margin-right: 70px;
}

.catalog_filter_style {
  padding: 0;
  margin: 0;
}

.catalog_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-content: center;
  min-width: 114px;
  padding: 0;
  margin: 0;
}

.catalog_header {
  margin-bottom: 40px;
}

.breadcrumbs_item {
  margin: 0;
  padding: 0;
}

.button_image_breadcrumbs {
  display: block;
  width: 13px;
  height: 15px;
  padding: 3px 0;
  padding-right: 30px;
  margin: 0;
  margin-right: 30px;
}

.breadcrumbs_link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}

.infrastructure_list {
  padding: 0;
  margin: 0;
}

.catalog_filter_title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.infrastructure_item {
  margin-bottom: 16px;
}

.infrastructure_item:last-child {
  margin-bottom: 0;
}

/* .control_input {
  accent-color: #3F5E72;
} */

.catalog_filter_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.catalog_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}

.button_app_reset {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button_apply {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  border-color: #82b3d3;
  border: none;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 32px;
}

.button_reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 191px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.result_filter {
  display: flex;
  flex-direction: column;
}

.container_filter {
  display: flex;
  min-width: 1060px;
  height: 49px;
  margin: 50px 70px 40px;
}

.result_filter_text {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  padding: 6px 0;

}

option .control_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

.select_control {
  font: inherit;
  padding-left: 20px;
  padding-right: 100px;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  margin: 0 70px;
}

.button_visually {
  display: flex;
  justify-content: center;
  align-content: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #e5e5e5;
  padding: 6px;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.button_cheap_active {
  border-color: #000000;
}

.list_button_visually {
  display: flex;
  max-width: 160px;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.button_cheap {
  background-image: url("../images/button_object.svg");
}

.button_single {
  background-image: url("../images/button_single.svg");
}

.button_list {
  background-image: url("../images/button_list.svg");
}

.hotel_list {
  width: 1060px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0 70px;

  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.hotel_card_item {
  padding: 20px 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 16px 20px;
}

.hotel_card_link {
  display: block;
  margin-bottom: 16px;
  color: #000000;
  text-decoration: none;
  margin: 0;

  grid-column: 1/3;
}

.hotel_card_cover {
  display: block;
}

.hotel_card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  display: block;
  color: #000000;
  margin: 16px 0;
}

.price {
  margin: 0;
  text-align: right;
}

.hotel_card_text {
  margin: 0;
}

.hotel_button_detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 26px;
  width: 140px;
  height: 36px;
  background-color: #756157;
  text-decoration: none;
  box-sizing: border-box;
}

.hotel_button_favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 20px;
  width: 140px;
  min-height: 36px;
  background-color: #82B3D3;
  text-decoration: none;
  box-sizing: border-box;
}

.hotel_star {
  background-image: url("../images/star.svg");
  background-repeat: space;
  background-size: 18px 17px;
  align-self: center;
  width: 140px;
  height: 17px;

  grid-column: 1/2;
  grid-row: 4/5;
}

.star_four {
  width: 73px;
}

.star_three {
  width: 65px;
}

.star_two {
  width: 40px;
}

.hotel_raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 8px 23px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border-radius: 4px;

  grid-column: 2/3;
  grid-row: 4/5;
}

.pagination_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 1060;
  padding: 0;
  margin: 0 70px 60px;
}


.pagination_link {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  padding: 10px 10px;
  min-width: 60px;
  min-height: 60px;
  box-sizing: border-box;
}

.pagination_active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination_rest {
  min-width: 60px;
  background-color: #82B3D3;
  color: #ffffff;
}

.style_point {
  color: #000000;
  background-color: transparent;
}

.subscribe_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.subscribe_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
  color: #333333;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
}
