@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 1.18;
  background-color: #ffffff;
  color: #000000;
  width: 1200px;
  height: 3557px;
}

.navigation_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-decoration: none;
  padding: 20px 16px;
}

.number_of_favorites {
  color: #ffffff;
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #7DB54F;
}

.button_here {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 160px;
  height: 36px;
  background-color: #756157;
}

.navigation_link_active {
  /*text-underline-offset: 20px;
  text-decoration-thickness: 2px;
  text-underline-position: under;*/
}

.hero {
  background-image: url("/images/index_background.jpg");
  width: 1200px;
  height: 485px;
}

.img_text {
  position: relative;
  padding: 51px 371px;
}

.index_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.index_title_text {
  font-size: 22px;
  text-align: center;
}

/*Заблочено, потому что с этим свойством лишки расползаются по страничке. Не знаю пока что с этим делать
.advantages_item {
  width: 400px;
  height: 385px;
}*/

.advantages_item_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

.advantages_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.service_title_item {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

.service_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
}

.button_reminder {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 375px;
  height: 52px;
  background-color: #756157;
  text-decoration: none;
  margin-left: 412px;
  margin-right: 412px;
  margin-top: 54px;
  /*В коде браузера вижу что отступ есть, но внешне ничего не изменилось*/
  margin-bottom: 96px;
  /*В коде браузера вижу что отступ есть, но внешне ничего не изменилось*/
}

.subscribe_index {
  background-image: url("/images/Subscribe.jpg");
  width: 1200px;
  height: 414px;
}

.subscribe_title_color {
  color: #ffffff;
}

.subscribe_title_text_color {
  color: #ffffff;
}


.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px 0 0 4px;
  border-color: #ffffff;
  border: none;
  width: 452px;
  height: 52px;
  background-color: #f2f2f2;
  margin-top: 104px;
  margin-left: 258px;

}

.button_subscribe {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  background-color: #82b3d3;
}

.footer_contacts_phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

/* Разве не нужно для этой картинки добавить блок в html отдельный тег?
  Иначе он будет присоединяться к какому-то уже указанному тегу и влиять на него
  (я не понимаю как с ним работать и заблочила пока);
.service_home {
  background-image: url(/images/Advantage_icon_home.svg);
  background-repeat: no-repeat;
  padding-left: 30px 77;
}

.service_eat {
  background-image: url(/images/Advantage_icon_eat.svg);
  background-repeat: no-repeat;
}

.service_present {
  background-image: url(/images/Advantage_icon_present.svg);
  background-repeat: no-repeat;
}*/

/*
.subscribe_form {
  margin: 258px 258px 104px 258px;
  Почему если добавить следующее свойство то блок разваливается на две строки?
  width: 684px;
  height: 52;
  margin: 258px 258px 104px 258px;
  + блок также разваливается, если обогатить свойством  margin-right.
  Как тогда отступы добавлять со всех сторон дл блока?
}*/

.catalog_filter {
  background-image: url("/images/catalog_background.jpg");
  color: #ffffff;
  /* Если раскомментировать код, то блок слипнется с блоком "Результат поиска". Почему?
  width: 1200px;
  height: 412px;*/
}

.catalog_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
}

.button_image_breadcrumbs {
  background-image: url(/images/bread_home.svg);
  background-repeat: no-repeat;
}

*/ .breadcrumbs_link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.31;
}

.catalog_filter_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

.catalog_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.28;
}

.button_app {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82b3d3;
  border-color: #82b3d3;
  border: none;
}

.button_reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  border: none;
  background-color: transparent;
}

.result_filter_text {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

/*Не понимаю почему не перебиваются стили браузера*/
option .control_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

.button_cheap {
  background-image: url(/images/button_object.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.button_single {
  background-image: url(/images/button_single.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.button_list {
  background-image: url(/images/button_list.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 14px;
}

.hotel_card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}

.hotel_card_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

.hotel_card_price {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}

.hotel_button_detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  background-color: #756157;
  text-decoration: none;
}

.hotel_button_favorite {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  background-color: #82B3D3;
  text-decoration: none;
}

.hotel_star {
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
  margin-top: 20px;
}

.hotel_raiting {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
}

.pagination_link {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 11px 23px;
  border-radius: 4px 4px 4px 4px;
  width: 60px;
  height: 60px;
}

.pagination_active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination_rest {
  background-color: #82B3D3;
  color: #ffffff;
}

.subscribe_title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
}

.subscribe_text {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  text-align: center;
}

.style_list {
  list-style-type: none;
}
